In [32]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [33]:
data = pd.read_csv("hr-total-cat-mod-filled-nan1.csv",index_col=0)

In [34]:
data.head()

,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,region_11,region_12,region_13,region_14,...,t8,t9,t10,m,r2,r3,r4,r5,referred,sourcing
employee_id,,,,,,,,,,,,,,,,,,,,,
65438,35,8,1,0,49,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
65141,30,4,0,0,60,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
7513,34,7,0,0,50,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
2542,39,10,0,0,50,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
48945,45,2,0,0,73,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0

In [35]:
data['is_promoted'].value_counts()

0    47853
1     4546
Name: is_promoted, dtype: int64

In [36]:
data_p1 = data[data['is_promoted'] == 1]

In [37]:
datafinal = pd.concat([data,data_p1,data_p1,data_p1,data_p1,data_p1,data_p1,data_p1,data_p1,data_p1])

In [38]:
datafinal['is_promoted'].value_counts()

0    47853
1    45460
Name: is_promoted, dtype: int64

In [39]:
datafinal.to_csv('hr-total-cat-equalized.csv')

In [25]:
data1 = data.drop('is_promoted', axis=1)
X = data.drop('is_promoted', axis=1).values
Y = data['is_promoted'].values

Split data set into training and test sets

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=101)

In [28]:
# Import module for fitting
from sklearn.linear_model import LogisticRegression
# Create instance (i.e. object) of LogisticRegression
logmodel = LogisticRegression()

In [29]:
logmodel.fit(X_train, Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [33]:
logmodel.fit(X_train,Y_train)
predictions = logmodel.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [43]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [46]:
print(classification_report(Y_test,predictions))

              precision    recall  f1-score   support

           0       0.93      1.00      0.96     14358
           1       0.87      0.24      0.37      1362

   micro avg       0.93      0.93      0.93     15720
   macro avg       0.90      0.62      0.67     15720
weighted avg       0.93      0.93      0.91     15720

In [47]:
print("Accuracy:",accuracy_score(Y_test, predictions))

Accuracy: 0.930852417302799